.hb-docs-nav-heading {
    @if ($hb-docs-navs-sticky-scroll) {
        @include media-breakpoint-up(xl) {
            position: sticky;
            top: 0;
            background: var(--#{$prefix}tertiary-bg);
            z-index: 5;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.hb-docs-nav-heading,
.hb-docs-nav-link {
    color: inherit;
    margin-top: 0.25rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;

    &:hover,
    &.active {
        background: var(--#{$prefix}primary-bg-subtle);
    }
}

.hb-docs-nav-link {
    position: relative;
}

@if ($hb-docs-navs-active-style == 'bordered') {
    .hb-docs-nav-links-group {
        .hb-docs-nav-link {
            &:hover,
            &.active {
                background: unset;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    margin-left: -.325rem;
                    border-left: 2px solid var(--#{$prefix}primary);
                    height: 1.25rem;
                }
            }
        }
    }
}

.hb-docs-nav-links {
    > .hb-docs-nav-links-span-all {
        .hb-docs-nav-link {
            margin-left: 0;
        }
    }
}

.hb-docs-nav-toggle-item {
    &[aria-expanded="true"] {
        .hb-docs-nav-item-toggle-icon {
            transform: rotate(90deg);
        }
    }
}

@mixin hb-docs-nav-heading-top($level, $levels, $height) {
    .hb-docs-nav-links-group {
        .hb-docs-nav-heading {
            z-index: $levels - $level;
            top: $level * $height;
        }

        @if ($level <= $levels) {
            @include hb-docs-nav-heading-top($level + 1, $levels, $height);
        }
    }
}

@if ($hb-docs-navs-sticky-scroll) {
    .hb-docs-nav-links-group {
        @include hb-docs-nav-heading-top(1, 5, 2.075rem);
    }
}
